.text-label{
    color: white;
    font-size: 17px;
}
.text-desc{
    color: #ffffff73;
    font-size: 12px;
}
.text-labels{
    color: white;
    font-size: 12px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #45b26b;
}
.btn-text {
    padding: .25em 0 .75em 0;
    background-color: gray !important;
}
