.carousel-item img {
  width: 100%;
  height: auto;
}

.img-black-white {
  filter: grayscale(100%);
 
}

.card {
  border: none;
  height: 100%;
}
// .image-gallery .img-wrapper {
//   display: none;
// }
// .image-gallery .img-wrapper:nth-child(-n+8) {
//   display: block;
// }


// .image-gallery .img-wrapper {
//   display: none;
// }
// .image-gallery .img-wrapper:nth-child(-n+8) {
//   display: block;
// }

.card-title {
  font-size: 1rem;
}
